.App-head {
  width: 320px;
  margin: 30px auto 40px;
  text-align: center;
}

.App-head__title {
  font-size: 2.4rem;
  margin: 0 0 20px;
}

.App-head__buttons {
  display: flex;
  justify-content: space-between;
}

.App-head__button {
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: var(--light);
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-color);
  cursor: pointer;
}

.App-head__button:hover {
  filter: brightness(120%);
}

.content {
  max-width: 640px;
  width: 80%;
  min-width: 320px;
  margin: auto;
}
