:root {
  --dark: #1e1c23;
  --light: #8c7490;
  --font-color: #f5eef1;
  --primary: #816180;
  --secondary: #81647e;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--dark);
  color: var(--font-color);
}

body {
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
